@import "../../styles/variables/variables";
.header {
  background-color: $tertiary-color;
  color: $primary-color;
  height: 7rem;
  grid-column: full-start / full-end;
  display: flex;
  align-items: center;
  &__list {
    list-style: none;

    &--left {
      margin-right: auto;
    }
    &--right {
      display: grid;
      grid-template-columns: repeat(6, minmax(max-content, 5rem));
      grid-column-gap: 6rem;
      align-items: center;
      letter-spacing: 0.1rem;
      &:last-child {
        padding-right: 4rem;
      }
    }
  }

  &__item {
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      transform: translateY(-2px);
    }
  }
}
